<%= form_for(rate) do |f| %>
  <% if rate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rate.errors.count, "error") %> prohibited this rate from being saved:</h2>

      <ul>
      <% rate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ctry_code %>
    <%= f.text_field :ctry_code %>
  </div>

  <div class="field">
    <%= f.label :zip_code %>
    <%= f.text_field :zip_code %>
  </div>

  <div class="field">
    <%= f.label :weight %>
    <%= f.text_field :weight %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>

  <div class="field">
    <%= f.label :carrier %>
    <%= f.text_field :carrier %>
  </div>

  <div class="field">
    <%= f.label :experation_date %>
    <%= f.date_select :experation_date %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
