<p id="notice"><%= notice %></p>

<p>
  <strong>Ctry code:</strong>
  <%= @rate.ctry_code %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @rate.zip_code %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @rate.weight %>
</p>

<p>
  <strong>Price:</strong>
  <%= @rate.price %>
</p>

<p>
  <strong>Carrier:</strong>
  <%= @rate.carrier %>
</p>

<p>
  <strong>Experation date:</strong>
  <%= @rate.experation_date %>
</p>

<%= link_to 'Edit', edit_rate_path(@rate) %> |
<%= link_to 'Back', rates_path %>
